/**
 * Atoms: Headings
 */

h1 {
  @include monospace;
  color: $heading-color;
  font-size: $type-h1;
  margin-bottom: 1rem;
}

h2 {
  @include monospace;
  clear: both;
  color: $heading-color;
  font-size: $type-h2;
  margin: 4rem 0 1rem;
}
