/**
 * Atoms: Link
 */

a {

  color: $link-color;
  font-family: inherit;
  transition: all 0.3s;

  &:focus,
  &:hover {
    text-decoration: none;
  }


  // Variation: Button
  &.button {
    background-color: $link-button-bg;
    border-radius: 0.25rem;
    color: $link-button-color;
    display: inline-block;
    margin: 1rem 0.5rem 0.5rem 0;
    padding: 0.25rem 1.5rem !important;
    text-decoration: none;

    &:focus,
    &:hover {
      background-color: $link-button-bg-hover;
    }
  }


  // Variation: Skip link
  &.skip-link {
    background-color: $link-skip-bg;
    color: $link-skip-color;
    left: 50%;
    padding: 0.5rem 1rem;
    position: absolute;
    transform: translateY( -100% );
    transition: transform 0.3s;

    &:focus {
      transform: translateY( 0% );
    }
  }

}
