/**
 * Global: Colors
 */

// Neutral colors.
$black:         #222;
$white:         #f0f0f0;
$actual-white:  #fff;


// Primary color palette.
// https://coolors.co/542344-b26e63-f7e1d7-dedbd2-00798c-30638e-003d5b
$purple:        #542344;
$copper:        #b26e63;
$champagne:     #f7e1d7;
$timberwolf:    #dedbd2;


// Component color definitions.
$background-color:        $white;
$color:                   $black;

$footer-code:             $white;
$footer-copyright:        $white;
$footer-border:           $white;

$header-box-color-1:      $purple;
$header-box-color-2:      $timberwolf;
$header-box-color-3:      $copper;
$header-box-color-4:      $champagne;

$heading-color:           $black;

$link-color:              darken( $copper, 20% );
$link-title-color:        lighten( $purple, 10% );
$link-button-bg:          darken( $purple, 10% );
$link-button-bg-hover:    darken( $copper, 10% );
$link-button-color:       $white;
$link-skip-bg:            $purple;
$link-skip-color:         $actual-white;

$nameplate-color:         $black;
$nameplate-logo-bg:       $purple;

$nav-primary:             darken( $copper, 10% );

$section-bg-copper:       lighten( $copper, 40% );
$section-bg-grey:         lighten( $black, 5% );

$site-header-border:      lighten( $black, 30% );

$tagline:                 lighten( $black, 20% );
