/**
 * Global: Fonts
 */

// Font definitions.
@font-face {
  font-family: 'OpenSans';
  src: url( '../fonts/OpenSans-Regular.ttf' ) format( 'truetype' );
}

@font-face {
  font-family: 'Roboto';
  src: url( '../fonts/RobotoMono-Light.ttf' ) format( 'truetype' );
}

@font-face {
  font-family: 'RobotoBold';
  src: url( '../fonts/RobotoMono-Bold.ttf' ) format( 'truetype' );
}


// Reusable font mixins.
@mixin sans {
  font-family: 'OpenSans', sans-serif;
}

@mixin monospace {
  font-family: 'Roboto', monospace;
}

@mixin monospace-bold {
  font-family: 'RobotoBold', monospace;
}
