/**
 * Global: Sizes
 */

// Screen sizes.
$md:                  800px;
$lg:                  1000px;


// Content width.
$logo-size:           4rem;
$logo-size-half:      $logo-size / 2;

$page-margin-small:   2rem;
$page-margin-large:   14rem;

$max-width:           760px;


// Typography sizes.
$line-height:         1.75;

$type-nameplate:      3.4rem;
$type-h1:             2.441rem;
$type-h2:             1.953rem;
$type-h4:             1.25rem;
$type-p:              1.05rem;
