/**
 * Bio section.
 */

.bio {
  background-color: rgba( $blue, 0.3 );
  border-top: 0.5rem solid $grey;
  padding: 4rem 0;

  h2 {
    font-size: 1.75rem;
  }

  p:first-of-type {
    font-size: 1.15rem;
    line-height: 1.65;
    max-width: 768px;
  }

  p:last-child {
    margin-bottom: 0;
  }

  .btn {
    background-color: $red;

    &:hover,
    &:focus {
      background-color: $blue;
    }
  }
}
