/**
 * Page heading (h1) styles.
 */

.page-heading {
  background-image: url( '../images/monitor-bg.jpg' );
  background-repeat: no-repeat;
  background-size: cover;
  border-bottom: 8px solid $grey;
}

.page-heading-inner {
  background: rgba( $red, 0.7 );
  height: 100%;
  padding: 2rem 0 4rem;
  text-align: center;
  width: 100%;

  img {
    height: 4rem;
    margin-bottom: 1rem;
  }
}
