/**
 * Global: Skip link
 */

.skip-link {
  --text-color: var(--white);

  background-color: var(--dark-purple);
  left: 50%;
  padding: 0.5rem 1rem;
  position: absolute;
  transform: translateY( -100% );
  transition: transform 0.3s;

  &:focus {
    transform: translateY( 0% );
  }
}