/**
 * Black theme for reveal.js. This is the opposite of the 'white' theme.
 *
 * By Hakim El Hattab, http://hakim.se
 */


// Default mixins and settings -----------------
@import "../template/mixins";
@import "../template/settings";
// ---------------------------------------------

$sans-serif: 'proxima-nova', 'Helvetica Neue', Helvetica, Arial, sans-serif;
$serif: 'adobe-caslon-pro', Georgia, 'Times New Roman', serif;

// GU colors
// primary brand
$blue:                    #041e42;
$gray:                    #63666a;

// secondary brand
$twilight:                #1056b4;
$indigo:                  #003da5;
$cement:                  #bbbcbc;
$stone:                   #d6d2c4;

// tertiary brand
$cerulean:                #00b5e2;
$dcred:                   #d50032;
$lamplight:               #f8e08e;
$healylawn:               #64a70b;
$maroon:                  #862633;

// Override theme settings (see ../template/settings.scss)
$backgroundColor: darken( $blue, 5% );

$mainColor: #fff;
$headingColor: #fff;

$mainFontSize: 42px;
$mainFont: $sans-serif;
$headingFont: $serif;
$headingTextShadow: none;
$headingLetterSpacing: normal;
$headingTextTransform: none;
$headingFontWeight: 600;
$linkColor: lighten( $cement, 0% );
$linkColorHover: lighten( $linkColor, 15% );
$selectionBackgroundColor: lighten( $linkColor, 25% );

$heading1Size: 2.35em;
$heading2Size: 1.5em;
$heading3Size: 1.25em;
$heading4Size: 1.0em;

section.has-light-background {
	&, h1, h2, h3, h4, h5, h6 {
		color: $blue;
	}
}


// Theme template ------------------------------
@import "../template/theme";
// ---------------------------------------------


.reveal {
  font-weight: 300;

  p, li {
    line-height: 1.5;
  }

  ul, ol {
    margin-left: 1rem;
  }

  a:hover {
    text-decoration: underline;
  }

  &.slide .full-screen-img {
    background-color: $backgroundColor;
    padding: 0 !important;
  }

  pre {
    padding: 0;
    margin: 0 auto;

    code {
      background-color: darken( $cement, 50% );
      border: 2px solid #fff;
      border-radius: 0.5rem;
      max-height: 600px;
      padding: 2rem 2rem;
      width: 100%;
    }
  }
}
