/**
 * Utilities: Has Background
 *
 * Special helpers for layout items that have full-bleed backgrounds.
 */

.has-background {
  margin: 0;
  position: relative;

  &::before {
    content: '';
    display: inline-block;
    height: 100%;
    margin-left: -$page-margin-small;
    position: absolute;
    top: 0;
    width: 100vw;
    z-index: -1;

    @media screen and ( min-width: $md ) {
      margin-left: -$page-margin-large;
      padding-left: $page-margin-large;
    }
  }
}

.has-background.copper {
  &::before {
    background: $section-bg-copper;
    background-image: repeating-linear-gradient(
      180deg,
      $section-bg-copper,
      $section-bg-copper 1rem,
      darken( $section-bg-copper, 2% ) 1rem,
      darken( $section-bg-copper, 2% ) 2rem );
  }
}

.has-background.grey {
  background: $section-bg-grey;
  &::before { background: $section-bg-grey; }
}
