/**
 * Layout: Body
 */

body {

  background-color: $background-color;
  overflow-x: hidden;

  // Add a box top-border to the page.
  &::before {
    background-color: $header-box-color-1;
    background-image: repeating-linear-gradient(
      180deg,
      $header-box-color-1,
      $header-box-color-1 0.25rem,
      $header-box-color-2 0.25rem,
      $header-box-color-2 0.25rem * 2,
      $header-box-color-3 0.25rem * 2,
      $header-box-color-3 0.25rem * 3,
      $header-box-color-4 0.25rem * 3,
      $header-box-color-4 0.25rem * 4 );
    content: '';
    display: block;
    height: $logo-size-half;
    position: absolute;
    width: 100%;
    z-index: -1;
  }

}
