/**
 * Layout: Section
 */

section {

  margin: 1rem 0;
  padding: 1rem 0 2rem;
  position: relative;

  &:first-of-type {
    &.has-background {
      margin-top: 4rem;
    }
  }

  // Heading overrides.
  h2 {
    margin-top: 2rem;
  }

}
